---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

## Teaching Assistant, UBC
✧ ECON 101 Microeconomics (Fall 2023), ECON 102 Macroeconomics (Winter 2024)
✧ Responsibilities: Grade and invigilate exams, lead weekly tutorials and office hours

## Volunteer programming teacher
[Da Periferia Para o Mundo](https://sites.google.com/view/daperiferiaparaomundo) social project (Winter 2023).
Taught children aged 13-14 coding in Scratch and Python


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
